html * {
    font-family: "Noto Sans", sans-serif !important;
    box-sizing: border-box;
}

.nav_links {
    text-align: center;
    padding: 20px;
    size-adjust: 60%;
    width: 100%;
   background-color: rgb(245, 247, 248);
}

.logo {

    padding-right: 16%;
    vertical-align: middle;
    width: 23%;

}

.logo_As {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 140%;

}
.nav_line{
text-align: center;
font-size: 37px;
font-style: bold;
}
/* .nav_line_btn{
   display:flex ;
   gap: 20px;
} */

input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #f1e1e1;
}
.nav_line_btn{
    padding: 10px;
    background-color: #f1e1e1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
